<h1 mat-dialog-title>{{isEdit?"Cập nhật":"Thêm mới"}} người nhận gói tín dụng</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Định danh
                </mat-panel-title>
                <mat-panel-description>

                    <mat-icon>assignment</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- tab1 so huu -->

            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field>
                        <input matInput [formControl]="owningUser" required placeholder="owningUser(s)">
                        <mat-error *ngIf="owningUser.invalid">{{getErrorMessage(owningUser)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <input matInput [formControl]="owningBusinessUnit" required placeholder="owningBusinessUnit(s)">
                        <mat-error *ngIf="owningBusinessUnit.invalid">{{getErrorMessage(owningBusinessUnit)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <input matInput [formControl]="owningTeam" required placeholder="owningTeam(s)">
                        <mat-error *ngIf="owningTeam.invalid">{{getErrorMessage(owningTeam)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <input matInput [formControl]="importSequenceNumber" required placeholder="importSequenceNumber(n)">
                        <mat-error *ngIf="importSequenceNumber.invalid">{{getErrorMessage(importSequenceNumber)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <input matInput [formControl]="ownerIdType" required placeholder="ownerIdType(s)">
                        <mat-error *ngIf="ownerIdType.invalid">{{getErrorMessage(ownerIdType)}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field>
                        <input matInput [formControl]="ownerId" required placeholder="ownerId(s)">
                        <mat-error *ngIf="ownerId.invalid">{{getErrorMessage(ownerId)}}</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>
        <!-- tab2 -->
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hiển thị
                </mat-panel-title>
                <mat-panel-description>

                    <mat-icon>credit_card</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="createdBy" required placeholder="createdBy(s)">
                        <mat-error *ngIf="createdBy.invalid">{{getErrorMessage(createdBy)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="modifiedBy" required placeholder="modifiedBy(s)">
                        <mat-error *ngIf="modifiedBy.invalid">{{getErrorMessage(modifiedBy)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="createdOnBehalfBy" required placeholder="createdOnBehalfBy(s)">
                        <mat-error *ngIf="createdOnBehalfBy.invalid">{{getErrorMessage(createdOnBehalfBy)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="modifiedOnBehalfBy" required placeholder="modifiedOnBehalfBy(s)">
                        <mat-error *ngIf="modifiedOnBehalfBy.invalid">{{getErrorMessage(modifiedOnBehalfBy)}}</mat-error>
                    </mat-form-field>
                </div>


            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ngày tháng
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [formControl]="createdOn" required placeholder="createdOn" [matDatepicker]="picker" (focus)="picker.open()" readonly>
                        <mat-error *ngIf="createdOn.invalid">{{getErrorMessage(createdOn)}}</mat-error>
                    </mat-form-field>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [formControl]="modifiedOn" required placeholder="modifiedOn" [matDatepicker]="date" (focus)="date.open()" readonly>
                        <mat-error *ngIf="modifiedOn.invalid">{{getErrorMessage(modifiedOn)}}</mat-error>
                    </mat-form-field>
                    <mat-datepicker #date></mat-datepicker>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                        <input matInput [formControl]="overriddenCreatedOn" required placeholder="overriddenCreatedOn" [matDatepicker]="dateq" (focus)="dateq.open()" readonly>
                        <mat-error *ngIf="overriddenCreatedOn.invalid">{{getErrorMessage(overriddenCreatedOn)}}</mat-error>
                    </mat-form-field>
                    <mat-datepicker #dateq></mat-datepicker>
                </div>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Số phiên bản
                </mat-panel-title>
                <mat-panel-description>

                    <mat-icon>perm_media</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [formControl]="timeZoneRuleVersionNumber" required placeholder="timeZoneRuleVersionNumber(n)">
                        <mat-error *ngIf="timeZoneRuleVersionNumber.invalid">{{getErrorMessage(timeZoneRuleVersionNumber)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [formControl]="versionNumber" required placeholder="versionNumber(n)">
                        <mat-error *ngIf="versionNumber.invalid">{{getErrorMessage(versionNumber)}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Trang thái
                </mat-panel-title>
                <mat-panel-description>

                    <mat-icon>control_camera</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [formControl]="stateCode" required placeholder="stateCode(n)">
                        <mat-error *ngIf="stateCode.invalid">{{getErrorMessage(stateCode)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [formControl]="statusCodedisplay" required placeholder="statusCodedisplay(s)">
                        <mat-error *ngIf="statusCodedisplay.invalid">{{getErrorMessage(statusCodedisplay)}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [formControl]="statusCode" required placeholder="statusCode(n)">
                        <mat-error *ngIf="statusCode.invalid">{{getErrorMessage(statusCode)}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tín dụng
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>museum</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [formControl]="creditPlanRecipientCustomerIdType" required placeholder="creditPlanRecipientCustomerIdType(s)">
                        <mat-error *ngIf="creditPlanRecipientCustomerIdType.invalid">{{getErrorMessage(creditPlanRecipientCustomerIdType)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [formControl]="creditPlanRecipientCustomerId" required placeholder="creditPlanRecipientCustomerId(s)">
                        <mat-error *ngIf="creditPlanRecipientCustomerId.invalid">{{getErrorMessage(creditPlanRecipientCustomerId)}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Thông tin bộ sung
                </mat-panel-title>
                <mat-panel-description>

                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- tab5 -->
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="name" required placeholder="name">
                        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="softCreditReasondisplay" required placeholder="softCreditReasondisplay(s)">
                        <mat-error *ngIf="softCreditReasondisplay.invalid">{{getErrorMessage(softCreditReasondisplay)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="softCreditReason" required placeholder="softCreditReason(n)">
                        <mat-error *ngIf="softCreditReason.invalid">{{getErrorMessage(softCreditReason)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [formControl]="percentageOfPayment" required placeholder="percentageOfPayment(n)">
                        <mat-error *ngIf="percentageOfPayment.invalid">{{getErrorMessage(percentageOfPayment)}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color (click)="dialogRef.close()" type="button">Hủy</button>
                <button mat-button color="primary" type="submit">
              <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
              Lưu
          </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

</form>
