<h1 mat-dialog-title>{{isEdit?"Cập nhật":"Thêm mới"}} nhân viên</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="d-flex flex-column" mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="name" required placeholder="Họ và tên">
      <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
    </mat-form-field>
    <mat-checkbox class="mb-3" [formControl]="isManager" color="primary">Là quản lý</mat-checkbox>
    <mat-form-field>
      <input matInput [formControl]="username" required placeholder="Tên đăng nhập">
      <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="!isEdit">
      <input matInput [formControl]="password" required placeholder="Mật khẩu"
        [type]="showPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="showPassword = !showPassword">
        {{showPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="adminRoleId" disableOptionCentering placeholder="Quyền hệ thống">
        <mat-option>Chọn quyền hệ thống</mat-option>
        <mat-option *ngFor="let adminRole of adminRoles" [value]="adminRole">{{adminRole.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="adminRoleId.invalid">{{getErrorMessage(password)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="adminCode" required placeholder="Mã chấm công">
      <mat-error *ngIf="adminCode.invalid">{{getErrorMessage(adminCode)}}</mat-error>
    </mat-form-field>
    <p>Thông tin bổ sung</p>
    <mat-form-field>
      <mat-select [formControl]="gender" disableOptionCentering placeholder="Giới tính">
        <mat-option [value]="1">Nam</mat-option>
        <mat-option [value]="0">Nữ</mat-option>
        <mat-option [value]="2">Không xác định</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="phone" placeholder="Số điện thoại" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="iNF_PlaceOfBirth" placeholder="Nơi sinh">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="iNF_DateOfBirth" [matDatepicker]="picker" placeholder="Ngày sinh">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="iNF_Country" placeholder="Quốc gia">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="iNF_Nation" placeholder="Quốc tịch">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="iNF_SourceNation" placeholder="Nguyên quán">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="iNF_Address" placeholder="Nơi thường chú">
    </mat-form-field>
    <div class="row">
      <div class="col-sm-6 col-12">
        <mat-form-field class="d-block">
          <input matInput [formControl]="iNF_BankName" placeholder="Ngân hàng">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-12">
        <mat-form-field class="d-block">
          <input matInput [formControl]="iNF_BankAccount" placeholder="Số tài khoản">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-between">
    <button mat-raised-button (click)="dialogRef.close()">Hủy</button>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
      Lưu
    </button>
  </div>
</form>