<div class="container-fluid">
    <mat-card class="example-card">
        <mat-card-header class="justify-content-between">
            <mat-card-title>List of payment processors</mat-card-title>
        </mat-card-header>
        <div class="mb-2 style-flex">
            <div>
                <button mat-raised-button color="primary" (click)="insert()" class="mr-2">Add new processor</button>

            </div>

        </div>
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Từ khóa" #keyword (keyup)="applyFilter($event.target.value)">
            <button mat-button *ngIf="keyword.value" matSuffix mat-icon-button aria-label="Clear" (click)="keyword.value='';applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
        <br />
        <mat-card-content>
            <div class="table-responsive">
                <table id="staff" mat-table [dataSource]="dataSource" matSort matSortDisableClear width="100%" class="mat-elevation-z8">

                    <!-- ID Column -->
                    <ng-container matColumnDef="paymentProcessorId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.paymentProcessorId}}</td>
                    </ng-container>
                    <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
                        <td mat-cell *matCellDef="let element">{{element.createdBy}}</td>
                    </ng-container>



                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef style="width:1%">#</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-menu #appMenu="matMenu" xPosition="before">
                                <button (click)="edit(element)" mat-menu-item>Edit</button>
                                <button (click)="delete(element.paymentProcessorId)" mat-menu-item>Delete</button>

                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>
        </mat-card-actions>
    </mat-card>
</div>