:host {
    display: block;
    padding: 10px 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(225, 225, 225, .5);
    background-color: #fff;
    z-index: 9999;
    margin-bottom: 30px;
}

ul {
    margin-bottom: 0
}

.item {
    display: block;
    text-align: center;
    color: #7f919a;
    font-size: 12px;
    transition: color ease-in-out .3s;
}

.item-list>.item,
.add-section {
    padding: 0 15px;
}

.item:hover {
    color: #333;
}

.item .mat-icon {
    height: 1em;
    line-height: 1em;
    font-size: 23px;
    display: block;
    margin: 0 auto 4px;
    text-align: center;
}

.mat-menu-item-submenu-trigger::after {
    right: 8px;
}

.show-elm {
    font-size: 16px;
    color: #999;
    margin-left: 10px;
}

.show-elm:hover {
    color: #666
}
