<div class="container-fluid">
    <mat-card class="example-card">
        <mat-card-header class="justify-content-between">
            <mat-card-title>Lịch trình thanh toán</mat-card-title>
            <button mat-raised-button color="primary" (click)="insert()" class="mr-2">Thêm lịch trình thanh toán</button>
        </mat-card-header>
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Từ khóa" #keyword (keyup)="applyFilter($event.target.value)">
            <button mat-button *ngIf="keyword.value" matSuffix mat-icon-button aria-label="Clear" (click)="keyword.value='';applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
        <br />
        <mat-card-content>
            <div class="table-responsive">
                <table id="staff" mat-table [dataSource]="dataSource" matSort matSortDisableClear width="100%" class="mat-elevation-z8">

                    <!-- ID Column -->
                    <ng-container matColumnDef="paymentScheduleId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.paymentScheduleId}}</td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Được tạo bởi</th>
                        <td mat-cell *matCellDef="let element">{{element.createdBy}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="modifiedBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sửa đổi bởi</th>
                        <td mat-cell *matCellDef="let element">{{element.modifiedBy}}</td>
                    </ng-container>
                    <!-- Name Column -->


                    <!-- Username Column -->
                    <ng-container matColumnDef="importSequenceNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nhập số thứ tự</th>
                        <td mat-cell *matCellDef="let element">{{element.importSequenceNumber}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="versionNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số phiên bản</th>
                        <td mat-cell *matCellDef="let element">{{element.versionNumber? element.versionNumber : null}}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef style="width:1%">#</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-menu #appMenu="matMenu" xPosition="before">
                                <button (click)="edit(element)" mat-menu-item>Sửa lịch trình thanh toán</button>
                                <button (click)="delete(element.paymentScheduleId)" mat-menu-item>Xóa lịch trình thanh toán</button>
                            </mat-menu>

                            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>
        </mat-card-actions>
    </mat-card>
</div>