<h1 mat-dialog-title>Đổi mật khẩu</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="d-flex flex-column" mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="oldpass" required placeholder="Mật khẩu cũ" type="password">
      <!-- <mat-error *ngIf="oldpass.invalid">{{getErrorMessage(oldpass)}}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="newpass" placeholder="Mật khẩu mới" type="password">
      <!-- <mat-error *ngIf="newpass.invalid">{{getErrorMessage(newpass)}}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="checkpass" placeholder="Nhập lại mật khẩu mới" type="password">
      <!-- <mat-error *ngIf="checkpass.invalid">{{getErrorMessage(checkpass)}}</mat-error> -->
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-between">
    <button mat-raised-button (click)="dialogRef.close()">Hủy</button>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
      Lưu
    </button>
  </div>
</form>